.card {
  font-family: 'Neue Machina', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #242424;
}

.card__title {
  font-weight: inherit;
  font-size: 28px;
  line-height: 1.14;
  margin: 0;
  margin-bottom: 32px;
}

.card__card {
  max-width: 240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

.card__play-name {
  font-weight: inherit;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding: 16px;
  padding-bottom: 140px;
  background-color: #B7C09D;
}

.card__link {
  margin: 0;
  padding: 16px;
  padding-right: 67px;
  border-top: 1px solid #242424;
  /* Иконка */
  background-color: #B7C09D;
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-size: 25px auto;
  /* Текст */
  text-transform: uppercase;
  font-family: 'Formular', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  color: #242424;
  text-decoration: none;
  /* Анимация */
  transition: all .3s;
}

.card__link:hover {
  background-color: #242424;
  color: #fff;
}

.card__linl_type_external {
  background-image: url(../images/icon_arrow-diagonal.svg);
}

.card__linl_type_external:hover {
  background-image: url(../images/icon_arrow-diagonal_white.svg);
}

.card__linl_type_download {
  background-image: url(../images/icon__arrow-down.svg);
}

.card__linl_type_download:hover {
  background-image: url(../images/icon__arrow-down_white.svg);
}

.card__author {
  margin-top: 16px;
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 24px;
}

.card__text {
  margin: 0;
  font-family: 'Formular', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  color: #242424;
}

@media (min-width: 768px) {
  .card__title {
    display: none;
  }

  .card__card {
    margin: 0;
  }
}
