.credits {
  padding: 58px 29px 72px;
  background-color: #fff;
}

.credits__info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* Текст */
  font-family: "Neue Machina", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1, 14;
  letter-spacing: -0.01em;
  color: #242424;
}

.credits__info-item {
  padding-right: 16px;
  border-right: 1px solid #242424;
}
.credits__info-item:last-child {
  padding-right: 0;
  border-right: none;
}

.credits__troupe-list {
  list-style: none;
  padding: 0;
  margin: 0;
  /* Текст */
  font-family: "Formular", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-feature-settings: "ss01" on;
  color: #242424;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.credits__troupe-role {
  margin: 0;
  font-size: 16px;
  letter-spacing: 0;
}

.credits__troupe-name {
  margin: 0;
  margin-left: 30px;
}

@media (min-width: 768px) {
  .credits {
    padding: 0;
    background-color: transparent;
  }
}
