.description {
  /* Text */
  font-family: "Formular", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #242424;
}

.description__text {
  margin: 0;
  margin-top: 16px;
  text-indent: 60px;
}

.description__text:first-child {
  margin-top: 0;
  text-indent: 0;
}
