.footer {
  font-family: "Formular", sans-serif;
  padding: 50px 0;
}

.footer__logo {
  width: 93px;
  height: 80px;
}

.footer__link {
  color: #242424;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__link_underlined {
  border-bottom: 1px solid #242424;
}

.footer__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
}

.footer__text {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0 0 10px;
}

.footer__text:last-of-type {
  padding-bottom: 0;
}

.footer__text > span {
  display: block;
}

.footer__shishki {
  background-image: url("../images/shishki.svg");
  background-repeat: no-repeat;
  background-size: 27px 25px;
  background-position: left 4px;
  padding: 0 36px 16px;
}

@media screen and (min-width: 1024px) {

  .footer__text {
    padding-right: 32px;
  }

  .footer__shishki {
    background-position: left top;
    padding: 0 36px 0 30px;
  }

}
