.header {
  padding: 32px 24px;
  display: flex;
  gap: 19px;
  align-items: center;
}

.header__logo {
  display: block;
  width: 43px;
  height: 34px;
  object-fit: contain;
}


.header__menu {
  /* Скрытие меню */
  max-height: 0px;
  overflow: hidden;
  transition: max-height .3s;
  /* Позиционирование поверх контента */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Фон */
  background-color: #ecebe8;
  /* Расположение элементов внутри */
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.header__menu_opened {
  /* Открытие меню */
  max-height: 100vh;
  overflow-y: scroll;
}


.header__sections-list {
  /* Сброс стилей */
  list-style: none;
  padding: 0;
  margin: 0;
  /* Поля */
  padding-inline: 54px;
  margin-top: 46px;
  /* Расположение элементов */
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* Логотип сверху */
  padding-top: 77px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: 43px 34px;
  background-position: left 54px top;
}

.header__sections-item {

}

.header__section-link {
  position: relative;
  text-decoration: none;
  font-family: 'Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.01em;
  color: #242424;
}

.header__section-link::before,
.header__section-link::after {
  content: '';
  position: absolute;
  top: 0;
  height: 1.46em;
  width: .57em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  visibility: hidden;
}

.header__section-link::before {
  left: -.57em;
  background-image: url(../images/icon__menu-zctive-before.svg);
}

.header__section-link::after {
  right: -.57em;
  background-image: url(../images/icon__menu-zctive-after.svg);
}

.header__section-link:hover::before,
.header__section-link:hover::after,
.header__section-link_active::before,
.header__section-link_active::after{
  visibility: visible;
}


.header__actions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 54px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.header__action-item {
  outline: 1px solid #000;
  text-transform: uppercase;
}


.header__extra-link {
  display: block;
  padding: 16px 54px 18px 16px;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  color: #242424;
  text-decoration: none;
  background-image: url(../images/icon__arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right 15px center;
  transition: color .3s, background-color .3s;
}

.header__extra-link:hover {
  color: #fff;
  background-color: #242424;
  background-image: url(../images/icon__arrow-right_white.svg);
}



.header__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.header__social-item {
  width: calc(50% - .5px);
  outline: 1px solid #000;
}








/* Кнопка-бургер для открытия меню */
.header__menu-button {
  position: fixed;
  bottom: 128px;
  right: 0;
  display: block;
  width: 72px;
  height: 72px;
  background-color: #242424;
  border: 0;
  cursor: pointer;
  background-image: url(../images/icon__menu-open.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 12px;
}

.header__menu-button_type_close {
  background-image: url(../images/icon__menu-close.svg);
  background-size: 18px 18px;
}

@media (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}
