.photos {
  margin: 0;
  padding: 50px 0;
}

.photos__title {
  font-family: "Machina", sans-serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  color: #242424;
  letter-spacing: -0.01em;
  margin: 0 0 22px 24px;
  max-width: 350px;
}

.photos__container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px 2px;
  list-style: none;
}

.photos__container-item {
  margin: 0;
  padding: 0;
}

.photos__image {
  width: 100%;
  aspect-ratio: 1.41;
  object-fit: cover;
  display: block;
}

@media screen and (min-width: 720px) {
  .photos {
    padding: 72px 0;
  }

  .photos__title {
    font-size: 34px;
    line-height: 36px;
    margin-left: 180px;
    margin-bottom: 31px;
  }

  .photos__container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px 1px;
  }
}

@media screen and (min-width: 1100px) {
  .photos__title {
    font-size: 40px;
    line-height: 40px;
    margin-left: 362px;
    margin-bottom: 40px;
  }
}
