.photos {
  margin: 100px 0;
  padding: 0;
  background-color: #ecebe8;
}

.photos__title {
  font-family: "Machina", sans-serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  color: #242424;
  letter-spacing: -0.01em;
  margin: 0 0 22px calc(30.1vw - 72.57px);
  max-width: 350px;
}

.photos__container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px 3px;
}

.photos__image {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 720px) {
  .photos {
    margin: 120px 0;
  }

  .photos__title {
      font-size: 34px;
      line-height: 36px;
      margin-bottom: 31px;
  }

  .photos__container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 1px 1px;
  }
}

@media screen and (min-width: 1100px) {
    .photos {
      margin: 145px 0;
    }
  
    .photos__title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 40px;
    }
  
    .photos__container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
  }
