.play-summary {
  font-family: "Neue Machina", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #242424;
}

.play-summary__text {
  margin: 0;
  margin-bottom: 16px;
}

.play-summary__text:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .play-summary {
    font-size: 28px;
    line-height: 1.14;
  }
}
