.video {
  background-size: cover;
  aspect-ratio: 16 / 9;
  position: relative;
}

.video__thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__playback-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  aspect-ratio: 1;
  /* cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #ECEBE8;
  background-image: url(../images/icon_playback-button.svg);
  background-repeat: no-repeat;
  background-position: center left 52%;
  background-size: 15px auto;
  transition: width .3s; */
}

/* .video__playback-button:hover {
  width: 70px;
} */

.video__iframe {
  width: 100%;
  height: 100%;
}
